build --client_env=CC=clang-13 --cxxopt='-std=c++17' --cxxopt='-march=native' --cxxopt='-O2'

build:asan --client_env=CC=cc
build:asan --strip=never
build:asan --copt -g
build:asan --copt -Og
build:asan --linkopt -fsanitize=address
build:asan --linkopt -fsanitize=undefined

build:debug --client_env=CC=g++
build:debug --strip=never
build:debug --copt -Og
build:debug --compilation_mode=dbg

build:profile --client_env=CC=g++
build:profile --cxxopt -O2
build:profile --cxxopt "-march=native"
build:profile --cxxopt "-std=c++17"
build:profile --copt -pg
build:profile --cxxopt -pg
build:profile --linkopt -pg
